@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Set box sizing for rules */
*,
*::before, 
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set body defaults */
body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

/* make images easy to work with */ 
img, 
picture {
  display: block;
  max-width: 100%;
}

/* inherit font for buttons & inputs */
input, 
button,
select,
textarea {
  font: inherit;
}

.flow > * + * {
  margin-top: 1rem;
}

/* Header | Navigation Bar */
header {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 10rem;
  margin-bottom: 1rem;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list__item {
  margin: 0 1em;
}
.nav__link {
  color: inherit;
}

.nav__link:hover,
.nav__link:focus {
  color: greenyellow;
}

.card {
  border: 2px solid black;
  padding: 2em;
  margin-bottom: 1em;
}